*  {
    margin: 10px;
}

body {
    font-family: 'Exo 2', sans-serif;
}

.glavni:nth-of-type(1) {
    margin: 50px auto;
    background-color: darkolivegreen;
    width: 650px;
    height: 255px;
    /*overflow:hidden; gubi se tekst koji izlazi iz okvira visine kontejnera 
    overflow: visible; defaultna vrednost
    overflow: scroll; dodaje opciju scrolla i za visinu i za sirinu
    overflow: auto;dodaje opciju scrola gde je potrebno*/
    overflow-y: scroll; /*specificno za y osu dodaje scroll*/
}

.glavni:nth-of-type(2) {
    margin: 50px auto;
    background-color: rgb(78, 47, 107);
    width: 650px;
    height: 255px;
    /*overflow:hidden; gubi se tekst koji izlazi iz okvira visine kontejnera 
    overflow: visible; defaultna vrednost
    overflow: scroll; dodaje opciju scrolla i za visinu i za sirinu
    overflow: auto;dodaje opciju scrola gde je potrebno*/
    overflow-y: scroll; /*specificno za y osu dodaje scroll*/
    /* display: none;*//*ovaj metod u potpunosti "brise" odredjeni sadrzaj*/
    visibility: hidden;/*ovaj metod zauzima prostor na stranici,medjutim nevidljiv je sadrzaj.*/
}

.glavni:nth-of-type(3) {
    margin: 50px auto;
    background-color: rgb(47, 107, 62);
    width: 650px;
    height: 255px;
    /*overflow:hidden; gubi se tekst koji izlazi iz okvira visine kontejnera 
    overflow: visible; defaultna vrednost
    overflow: scroll; dodaje opciju scrolla i za visinu i za sirinu
    overflow: auto;dodaje opciju scrola gde je potrebno*/
    overflow-y: scroll; /*specificno za y osu dodaje scroll*/
}



#icon {
    color: red;
    background-color: aqua;
    margin: 5px 7px 5px 7px;
}