* {
    margin: 0;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    background-color: rgb(131, 155, 91);
}

.main {
    margin: 0px auto;
    width: 100vw;
    height: 5rem;
    background-color: rgb(84, 100, 96);
    padding-bottom: 1rem;
    font-size: 18px;
}

.main a {
    color: rgb(22, 22, 36);
    float: right;
    margin-right: 40px;

}

.center {
    margin: 20px auto;
    width: 80%;
}

.glavni {
    float: left;
    width: 40%;
    height: 10%;
    float: left;
    margin-top: 50px;
    font-size: 18px;
}


.drugi {
    float: right;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 30px;
    width: 40%;
    height: 10%;
}

p {
    font-size: 20px;
}

p2 {
    font-size: 20px;
}


img {
    border-radius: 20px;
    clear: both;
    float: left;
    width: 40%;
    height: 10%;
    height: 450px;
    margin: 5rem 0rem 5rem 5rem;
}

.treci {
    float: right;
    font-size: 18px;
    width: 40%;
    height: 10%;
    margin: 5rem 7rem 5rem 0rem;

}

.cetvrti {
    clear: both;
    font-size: 18px;
    text-align: center;
    background-color: rgb(54, 54, 92);
    width: 100vw;
    height: 5rem;
    padding-bottom: 1rem;
    margin: 0px auto;
}
